$link-color: #ea580c;
$btn-primary-color: #f97316;
$body-heading-color: #0f172a;
$body-text-color: #334155;
$sidebar-color: #f8fafc;
$search-result-highlight-color: #fff7ed;
$code-background-color: #f1f5f9;
$table-background-color: #ffffff;
$feedback-color: darken($link-color, 5%);
